.log-link {
  text-decoration: none;
  font-weight: bold;
  background-color: #00897b;
  color: white;
  padding: 4px;
  border-radius: 4px;
  line-height: 2;
}

.color-on-hover:hover {
  background-color: #05443e;
  color: #b9cac9;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: bold;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 3px;
  height: 22px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-color: rgb(128, 134, 139);
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  margin-right: 3px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  cursor: col-resize;
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: -5px;
  transform: rotate(90deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

.task-tree {
  overflow: visible !important;
}

.sticky-layout-switch-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 2000;
}
