.main {
  width: 100%;
  padding: 4rem;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 5rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.Input {
  margin-top: 12px;
  margin-bottom: 12px;
}