.main {
  width: 100%;
  padding: 3rem 4rem;
}

.floweditor {
  width: 100%;
}

.analysis {
  width: 100%;
  padding: 3rem 4rem;
}

.usage {
  width: 100%;
  padding: 3rem 4rem;
  height: 80vh;
}

.embeddedsuperset {
  width: '100%';
  height: inherit;
}

.embeddedsuperset iframe {
  height: 100vh;
  width: 120%;
  border: none;
  -webkit-transform: scale(0.8, 0.8);
  -webkit-transform-origin: 0 0;
  transform: scale(0.8, 0.8); /* Standard property for modern browsers */
  transform-origin: 0 0; /* Standard property for modern browsers */
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 5rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.Input {
  margin-top: 12px;
  margin-bottom: 12px;
}

.Box {
  padding: 16px;
  border-radius: 16px;
}
